body {
  font-family: Georgia, 'Times New Roman', serif;
}
header {
  background: #f3ebe5;
}
h1, h2 {
  color: #5c3317;
}
.btn-dark {
  background-color: #5c3317;
  border: none;
}
.btn-dark:hover {
  background-color: #85523a;
}
